body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    margin:0px;
}

header {
    background-color: #A3AB78;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px rgb(169 169 169 / 62%);
    border-radius: 10px;
    
}

h1.header {
    text-align: center;

}

nav {
    padding: 10px;
}

nav > a {
    margin: 10px 120px 10px 120px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

nav > a:hover {
    color: #daed6f;
    font-weight: bolder;
}

section {
    background-color: #A3AB78;
    margin: 10px;
    box-shadow: 2px 2px 6px 0px rgb(169 169 169 / 62%);
    border-radius: 10px 30px;
}

h2.section {
    text-align: center;
    padding-top: 10px ;
}

article {
    padding: 10px;
    text-align: justify;
}

footer {
    margin: auto;
    background-color: #A3AB78;
    color: black;
    padding: 5px;
    text-align: center;
}

footer > p {
    margin: 0%;
    font-weight: bold;
}
 
div#bola {
    width: 200px;
    height: 200px;
    background-color: #A3AB78;
    border-radius: 50%;
    margin: 15px auto 15px auto;
}

.strongem {
    background-color: #045f356b ;
    padding: 1px;
    border-radius: 5px;
}

em strong {
    color: #045f35;
}
